$primary-color: rgba(216, 191, 216, 0.4);

.movieView {
  padding: 0px 10px 20px 10px;
  background-color: $primary-color;
  border-radius: 10px;
};

.movieTitle {
  text-align: center;
  padding: 10px 15px;
  background-color: thistle;
  border-radius: 50px;
};

.favoriteStatus {
  position: absolute;
  background-color: thistle;
  padding: 5px 10px;
  border-radius: 50px;
  transition: all 0.5s;
};

.favoriteStatus:hover {
  background-color: ghostwhite;
  color: thistle;
  transition: all 0.5s;
}