$primary: Thistle;
$body-bg: Ghostwhite;

@import '~bootstrap/scss/bootstrap.scss';

.primaryButton, .deleteButton {
  font-size: 15px;
  letter-spacing: 3px;
  font-variant: all-small-caps;
  border-radius: 10px;
  transition: all 0.9s;
};

.primaryButton:hover {
  background-color: ghostwhite;
  letter-spacing: 5px;
  box-shadow: thistle 0px 0px 10px 2px;
  transition: all 0.9s;
};

.deleteButton:hover {
  color: red;
  font-weight: 700;
  background-color: ghostwhite;
  letter-spacing: 4px;
  box-shadow: red 0px 0px 10px 2px;
  transition: all 0.9s;
};

.deleteButton {
  margin-top: 10px;
};

.warning {
  letter-spacing: 2px;
  margin-top: 150px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  border: 2px dashed red;
  color: black;
  border-radius: 10px;
}

.formLabel {
  font-size: 15px;
  font-variant: all-small-caps;
};

.formInput {
  font-style: italic;
  font-size: 13px;
};

.formInput {
  font-style: none;
  font-size: 13px;
};